<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
        
        default-autowire="byName">
	
	<!-- 
	 	Configuration des classes d'implémentation relatives au contexte 2
	 	L'injection de dépendances se fait automatiquement via l'attribut default-autowire="byName" de la balise <beans> 
	 -->	 
	<bean id="articleRepository" class="net.jmb.tuto.spring.repository.ArticleDatabaseRepository"/>	
	<bean id="catalogService" class="net.jmb.tuto.spring.service.CatalogDetailService"/>
	<bean id="clientService" class="net.jmb.tuto.spring.service.ClientSimpleService" />	
	<bean id="devisService" class="net.jmb.tuto.spring.service.DevisRemiseService" />
	
	<!-- 
	 	Configuration des contrôleurs valables quel que soit le contexte
	 -->	 
	<bean class="net.jmb.tuto.spring.controller.ClientController"/>
	<bean class="net.jmb.tuto.spring.controller.ArticleController"/>
	<bean class="net.jmb.tuto.spring.controller.DevisController"/>

</beans>
