<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan 
		base-package="net.jmb.tuto.spring.config.contexte2"
	/> 
	
	<!-- 
	 	Le taux de remise défini dans application.properties est accédé avec sa clé ${app.contexte2.remise}
	 	et injecté dans la propriété 'remise' de la classe DevisRemiseService
	 -->	
	<bean id="devisService" class="net.jmb.tuto.spring.service.DevisRemiseService">
		<property name="remise" value="${app.contexte2.remise}"/>
	</bean>

</beans>
